# Script in /etc/init/{{ service_name }}.conf as customised upstart service

description "My customized service running at port {{ service_port }}"
author      "Firstname Surname <email@example.com>"

start on filesystem or runlevel [2345]
stop on shutdown

setuid root
setgid root

respawn
respawn limit 5 30 

script
    echo $$ > /var/run/myservice.pid
    exec [BIN_COMMAND] --webdriver={{ service_port }} --webdriver-logfile=/var/log/{{ service_name }}.log
end script

pre-start script
    echo "[`date`] {{ service_name }} driver Starting" >> /var/log/{{ service_name }}.log
end script

pre-stop script
    rm /var/run/myservice.pid
    echo "[`date`] {{ service_name }} driver Stopping" >> /var/log/{{ service_name }}.log
end script
